@font-face {
  font-family: "Brygada 1918";
  src: url("fonts/Brygada1918.ttf");
}

@font-face {
  font-weight: 700;
  font-family: "OpenSans-Bold";
  src: url("fonts/OpenSansBold/OpenSans-Bold.ttf");
}

@font-face {
  font-weight: 400;
  font-family: "OpenSans-Regular";
  src: url("fonts/OpenSans.ttf");
}

body {
  display: flex;
  justify-content: center;
  background: #0b1d26;
  margin: 0;
}

.container {
  width: 1280px;
  padding: 100px 0px;
}

.col-2 {
  display: flex;
}

.header {
  position: relative;
}

.number {
  position: absolute;
  top: -130px;
  left: -98px;
  width: 233px;
  height: 0px;
  font-family: "OpenSans-Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 200px;
  line-height: 0%;
  letter-spacing: 4.2px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.1;
}

.profession::before {
  position: absolute;
  top: 50%;
  left: -100px;
  width: 68px;
  font-size: 14px;
  border: 1px solid #f7df1e;
  content: "";
}

.profession {
  position: relative;
  left: 98px;
  top: 38px;
  width: 123px;
  font-family: "OpenSans-Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 32px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #f7df1e;
  margin: 0;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: 0px 30px;
}

.right {
  width: 50%;
  padding-left: 130px;
  padding-right: 30px;
}

h1 {
  font-family: "Brygada 1918", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 70px;
  color: #ffffff;
}

.text {
  width: 580px;
  font-family: "OpenSans-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 36px;
  color: #ffffff;
}

.line-2 {
  position: relative;
  width: 127px;
  font-family: "OpenSans-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 39px;
  text-decoration: none;
  color: #f7df1e;
}

.line-2::after {
  position: absolute;
  top: -3px;
  left: 130px;
  content: "→";
  width: 26px;
  font-family: "OpenSans-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25.5px;
  line-height: 26px;
  color: #f7df1e;
}
