@font-face {
  font-weight: 400;
  font-family: "JetBrains Mono";
  src: url("fonts/JetBrainsMono-Regular.woff2") format("woff2");
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background: #7e57c2;
}

.terminal {
  padding: 20px 30px;
  color: white;
  background-color: #263238;
  border-radius: 5px;
}

.buttons button {
  border: initial;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  padding-right: 5px;
  margin-bottom: 20px;
  display: inline-block;
}

.red {
  background-color: #ff5f56;
}

.yellow {
  background-color: #ffbd2e;
}

.green {
  background-color: #27c93f;
}

pre {
  margin: 0;
}

code {
  font-size: 18px;
  line-height: 1.5;
  font-family: "JetBrains Mono";
}

.tag {
  color: #ff5370;
}

.attr {
  color: #ffcb6b;
}

.val {
  color: #c3e88d;
}
